
<div class="row photo-gallery">
  <% @photos.each do |photo| %>
    <div class="photo-box">
      <figure>
        <%= link_to image_tag(photo.photo.url), user_photo_path(photo.user, photo)  %>
        <figcaption><%= photo.name %></figcaption>
      </figure>
    </div>
  <% end %>
</div>
